/* mobile brackpoint */
body{
    width: 100%;
    margin: auto;
}
.contaner{
        width: 480px;
        height: 767px;
        margin: auto;
        text-align: center;
    }
    div{
        box-sizing: border-box;
        padding: 50px;
        border: rgb(128, 128, 128) solid 1px;

    }


    @media (min-width: 768px){  /* tab breackpoint */
        .contaner{
            width: 769px;
            height: 768px;
            margin: auto;
            text-align: center;
        }
        div{
            box-sizing: border-box;
            padding: 50px;
            border: rgb(128, 128, 128) solid 1px;
        }
            
        }
@media (min-width: 965px){  /* disktop breackpoint */
.contaner{
    width: 960px;
    height: 768px;
    margin: auto;
    text-align: center;
}
div{
    box-sizing: border-box;
    padding: 50px;
    border: rgb(128, 128, 128) solid 1px;
}
    
}