/* mobile breackboint */
    .a{

        background-color: rgb(0, 255, 213);

    }
    .b{
        background-color: rgb(71, 4, 73);

    }
    .c{
        background-color: rgb(255, 0, 221);

        /* padding-top: 62px; */
        
    }
    .d{
        background-color: rgb(160, 120, 135);

        /* padding-top: 62px; */
        
    }
    .e{
        background-color: rgb(195, 207, 19);

        
    }
    .f{
        background-color: rgb(53, 49, 52);

    }
    .g{
        background-color: rgb(134, 218, 134);

    }
    .h{
        background-color: rgb(99, 43, 36);

    }
    .i{
        background-color: rgb(53, 66, 83);

    }
@media (min-width:768px){ /* tab beackpoint  */
    .a{
        background-color: rgb(188, 243, 188);
    
    }
    .b{
       background-color: rgb(40, 138, 224)
    
    }
    .c{
        background-color: rgb(84, 214, 84);
    
    }
    .d{
        background-color: rgb(221, 156, 17);
    
    }
    .e{
        background-color: rgb(99, 68, 68);
    }
    .f{
        background-color: rgb(3, 14, 75);
    
    }
    .g{
        background-color: rgb(9, 77, 109);
    
    }
    .h{
        background-color: rgb(248, 178, 86);
    
    }
    .i{
        background-color: rgb(78, 138, 78);
    
    }
    

}

@media (min-width:965px){ /* dicktop beackpoint  */
    .a{
        background-color: aqua;
    
    }
    .b{
       background-color: blueviolet;
    
    }
    .c{
        background-color: crimson;
    
    }
    .d{
        background-color: darkgreen;
    
    }
    .e{
        background-color: darkslateblue;
    }
    .f{
        background-color: dimgray;
    
    }
    .g{
        background-color: fuchsia;
    
    }
    .h{
        background-color: darksalmon;
    
    }
    .i{
        background-color: teal;
    
    }
    

}